 
 
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>表格操作 - layui</title>

<link rel="stylesheet" href="/static/css/layui.css">

<style>
body{padding: 20px;}
</style>
</head>
<body>

<div class="layui-btn-group">
    <button class="layui-btn" onclick="classify_add()" >添加分类</button>
</div>








<table class="layui-table" lay-filter="parse-table-demo">
  <thead>
    <tr>
     <td>ID</td>
     <td>名称</td>
     <td>简介</td>
     <td>单位</td>
     <td>操作</td>
    </tr>
   
   </thead>
   <tbody>
    {volist name="classifylist" id="vo"}   
    <tr>
     <td>{$vo.id}</td>
     <td>{$vo.name}</td>
     <td>{$vo.desc}</td>
     <td>{$vo.measure}</td>
     <td>
            <a class="layui-btn layui-btn-mini" onclick="classify_edit({$vo.id})"><i class="iconfont icon-edit"></i> 编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-mini news_del" data-id="1"><i class="layui-icon"></i> 删除</a>
     </td>
    </tr>
    {/volist}
  </tbody>
</table>

<script type="text/javascript" src="/static/common/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/newslist.js"></script>
<script>

                   //操作
function classify_add(){
    var index = layui.layer.open({
                title : "添加分类",
                type : 2,
                content : "classifyadd.html",
                success : function(layero, index){
                        setTimeout(function(){
                                layusi.layer.tips('点击此处返回分类列表', '.layui-layer-setwin .layui-layer-close', {
                                        tips: 3
                                });
                        },500)
                }
        })			
        layui.layer.full(index);
    }
 function classify_edit(id){
    var index = layui.layer.open({
                title : "添加分类",
                type : 2,
                content : "classifyadd.html?id="+id,
                success : function(layero, index){
                        setTimeout(function(){
                                layusi.layer.tips('点击此处返回分类列表', '.layui-layer-setwin .layui-layer-close', {
                                        tips: 3
                                });
                        },500)
                }
        })			
        layui.layer.full(index);
    }   
</script>
</body>
</html>
